$STY_USE:diary$
<html>
<head><title>$CON:title$</title></head>
<body $STY:attr-body$>
$INC:header:title=日記を編集$
$INC:small$

以下の内容でよろしければ[ＯＫ]を押してください。<br>

$INC:space:size=8$
${INC:color-bar:size=3,color=$STY:color-base$}$
<div bgcolor="#eeeeee">
$INC:space:size=4$
$=h:subject$
$INC:space:size=4$
</div>
${INC:color-bar:size=1,color=#aaaaaa}$
$=hn:content$<br>
$INC:space:size=4$
${INC:color-bar:size=3,color=$STY:color-base$}$
$INC:space:size=8$

<center>
</form>
<form action="_dia_mod" method="post">
<input type="hidden" name="_CODE"     value="あ">
<input type="hidden" name="d"         value="$=h:d$">
<input type="hidden" name="subject"   value="$=h:subject$">
<input type="hidden" name="content"   value="$=h:content$">
<input type="submit" name="exec" value="Ｏ　Ｋ"><br>
<input type="submit"             value="戻　る"><br>
</form>
</center>

$INC:/small$
$INC:footer$
</body>
</html>
